.container{
    margin-bottom: 100px;
}
.bg_orange{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy_now_button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 9px 25px;
    border-radius: 8px;
}
/* carousel section coding end */
.catagories h1{
    color: #fff;
}
.catagories img{
    width: 100px;
}
.cat1, .cat2, .cat3{
    border-radius: 10px;
    padding: 10px 30px;
}
.cat1{
    background-image: linear-gradient(to right, #F19630 0%, #F5C61E 100%);
    background-color: orange;
}
.cat2{
    background-image: linear-gradient(to bottom, #EC4389 0%, #EB1A69 100%);
}
.cat3{
    background-image: linear-gradient(to right, #4274FF 0%, #3713F9 100%);
}
/* catagories section coding end */
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
/* shoes section coding end */
.card-footer{
    border-top: none;
    background-color: #fff;
}
/* backpack section coding end */
#contactUs{
    height: 300px;
}
#contactUs h6{
    color: gray;
}
/* contact section coding end */
footer{
    text-align: center;
}
/* footer section coding end */